.copay>div {
    display: flex;

    >div:first-child {
        width: 70%;
    }

    >div:last-child {
        width: 30%;
        display: flex;
        align-items: center;
    }
}

.video-wrapper>div {
    display: flex;
    justify-content: space-around;
}

.fso>div {
    display: flex;

    >div:first-child {
        width: 20%;
    }
}

.fso {
    max-width: 100%;
    margin-left: 5px;
    background: #F7F7F7;
}

.accordion .question {
    position: relative;
    padding: 10px 10px;
    font-size: 25px;
    color: black;
    cursor: pointer;
    font-style: italic;
    border: 2px solid #ccc;
    border-radius: 7px / 7px;
}

.accordion .question::before {
    content: '+';
    color: black;
    padding-right: 10px;
    position: absolute;
    top: 50%;
    right: -5px;
    font-size: 30px;
    transform: translateY(-50%);
}


.accordion .answer {
    position: relative;
    background: white;
    height: 0;
    font-size: 20px;
    color: brown;
    text-align: justify;
    width: 780px;
    overflow: hidden;
    transition: 0.5s;
    margin-left: 40px;
    margin-top: 20px;
}

.accordion .container.active .answer {
    height: 140px;
}

.accordion .container.active .question::before {
    content: '-';
    font-size: 30px;
}

.getstarted div {
    color: red;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

}

.getstarted {
    margin: 0px 40px;
    padding-top: 7px;
}

.getstarted-wrapper {
    height: 140px;
    max-width: 100% !important;
    background-color: #C4C6C6;
}