footer {
  padding: 2rem;
  background-color: var(--overlay-background-color);
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 20;
}

footer .footer .subfooter-wrapper{
    display: flex;
    justify-content: center;
}

.footer-headings div{
display:flex;
justify-content: flex-start;
margin: 0px 20px 0px 0px;
}
